<body>
    <div class="container">
      <div class="div">
        <h1 (click)="gameControl()">Let's play!</h1>
<!--         <table style="margin-left:auto;margin-right:auto;">
          <tr *ngFor="let row of currentTable">
            <td *ngFor="let adj of row" class="activity">{{adj}}</td>
          </tr>
        </table> -->
        <app-game-one
        [currentTable]="currentTable"
        [gameStart]="gameStart"
        [currentAdjectiveSet] = "currentAdjectiveSet"
        (sortAdjetiveSet) = "reciveAdjetives($event)"
        ></app-game-one>
      </div>
        <!-- <h1>Game over!</h1> -->
    </div>
  </body>
